nav {
  background-color: #C00C0B;
  color: white;
}
nav #leftNav a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
nav #rightNav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
nav #rightNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.taskButton {
  display: flex;
  justify-content: space-evenly;
}

.FixedHeightContainer
{
  float:right;
  height: 552px;
  padding:3px; 
  background-color: salmon;
}
.cardContainer
{
  height:465px;
  overflow:auto;
}